/* Base */

:root {
   --color-neon-green: #53FFAA;
   --color-dark-blue: #202733;
   --color-light-cyan: #CEE3E9;
   --color-grayish-blue: #4F5D74;
   --color-dark-greyish-blue: #313A48;
   --card-button-size: 3.556rem;
}

* {
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: var(--color-dark-blue);
   font-size: 18px;
   margin: 0;
   font-family: 'Manrope', sans-serif;
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding: 0.833rem;
}

/* Card */

.card {
   position: relative;
   width: 100%;
   max-width: 33.75rem;
   background-color: var(--color-dark-greyish-blue);
   border-radius: 1rem;
   text-align: center;
   padding: 3rem;
}

.card__heading {
   display: block;
   font-size: 0.8125rem;
   text-transform: uppercase;
   letter-spacing: 0.227rem;
   color: var(--color-neon-green);
   margin-bottom: 1.5rem;
}

.card__quote {
   position: relative;
   font-size: 1.75rem;
   letter-spacing: -0.017rem;
   color: var(--color-light-cyan);
   margin: 0;
   padding-bottom: 3rem;
   margin-bottom: 1.5rem;
}

.card__quote:before {
   content: '';
   background-color: var(--color-grayish-blue);
   width: 100%;
   height: 1px;
   position: absolute;
   left: 0;
   bottom: 0;
}

.card__quote:after {
   content: '';
   background-image: url("./quote.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 20px;
   background-color: var(--color-dark-greyish-blue);
   width: 60px;
   height: 30px;
   position: absolute;
   left: 50%;
   bottom: -15px;
   transform: translateX(-50%);
}

.card__button {
   display: block;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%);
   width: 64px;
   height: 64px;
   border-radius: 100%;
   border: none;
   background-color: var(--color-neon-green);
   cursor: pointer;
   transition: .3s ease box-shadow;
}

.card__button:hover {
   box-shadow: 0px 0px 40px var(--color-neon-green);
}

/* Icons */

.icon {
   display: block;
   margin: auto;
}

.icon--dice {
   width: 24px;
   height: 24px;
}

.icon--quote {
   width: 20px;
   height: 16px;
}